{
    "name": "bear/skeleton",
    "description":"n/a",
    "license": "proprietary",
    "require": {
        "bear/sunday": "~1.0.0-rc",
        "bear/package": "~1.0@dev"
    },
    "autoload": {
        "psr-4": {
            "BEAR\\Skeleton\\": "src/"
        }
    },
    "extra": {
        "branch-alias": {
            "dev-master": "0.1.x-dev"
        }
    }
}
